*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: rgb(108, 108, 182);
  font-family: Roboto, sans-serif;
  margin-top: 40px;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.my-tasks__container{
  width: 600px;
  min-height: 550px;
  background-color: rgb(150, 150, 89);
  margin: 10px;
  padding: 25px;
  border-radius: 25px;
}

h1{
  font-family: Roboto, sans-serif;
  margin: 20px 0;
  font-size: 26px;
  color: rgb(31, 29, 29);
  text-align: center;
}